<header class="header-2">
  <div class="branding">
    <a href="/" class="nav-link">
      <h1 class="display">My Store.</h1>
    </a>
  </div>
    <div class="branding">
      <a href="" class="nav-link section">
        <p class="section">HOME</p>
      </a>
      <a href="" class="nav-link">
        <p class="section">PRODUCTS</p>
      </a>
      <a href="" class="nav-link">
        <p class="section">SALE</p>
      </a>
    </div>
  
  
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for keywords..." />
    </label>
  </form>
  <div class="header-actions">
    <a href="" class="nav-link nav-icon" aria-label="settings">
    </a>
  </div>
</header>

